---
layout: default
---

{% assign image_folder = page.date | date: '%F' %}
{% assign thumbnail = site.static_files | where: "image", true | where_exp:"item", "item.path contains image_folder" | first%}
{% if thumbnail == nil %}
    {% assign thumbnail = site.static_files | where: "image", true | where_exp:"item", "item.name  == 'default.jpg'" | first%}
{% endif %}
{% assign image_files = site.static_files | where: "image", true | where_exp:"item", "item.path contains image_folder" %}

<img src="{{ site.baseurl }}{{ thumbnail.path }}" class="img-fluid" style="width: 100%;
max-height: 200px;
object-fit: cover;">
<h3>{{ page.location }} <small>{{ page.date | date: "%F" }}</small></h3>
{{ content }}
<p>もも</p>
<div class="row">     
  {% for myimage in image_files %}
  <div class="col-md-6 col-lg-4">
    <a href="#exampleModal" data-toggle="modal" data-slide-to="{{ forloop.index}}">
      <img class="img-fluid img-thumbnail mx-auto d-block" src="{{ site.baseurl }}{{ myimage.path }}" style="object-fit: cover; max-height: 200px">  
    </a>
  </div>
  {% endfor %}
</div>
<hr>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = 'lipaulin.github.io/momo{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.title | slugify }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://lipaulin-momo.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
          <div class="carousel-inner">  
            {% for myimage in image_files %}
              <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
                <img src="{{ site.baseurl }}{{ myimage.path }}" class="d-block w-100">
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>