{% assign img_class = '' %}
{% if include.thumbnail_path == nil%}
    {% assign placeholder = site.static_files | where: "image", true | where_exp:"item", "item.name  == 'placeholder.jpg'" | first %}
    {% assign thumbnail_path = placeholder.path %}
    {% assign img_class = ' _blur' %}
{% else %}
    {% assign thumbnail_path = include.thumbnail_path %}
{% endif %}

{% if include.note == 'nouveau' %}
    {% capture badge %}<span class="badge badge-pill badge-primary float-right">Nouveau</span>{% endcapture %}
{% elsif include.note == 'changement' %}
    {% capture badge %}<span class="badge badge-pill badge-warning float-right">Mis à jour</span>{% endcapture %}
{% endif %}

<div class="col-md-6 col-lg-4" style="margin-bottom: 1em">
    <div class="card">
        {% if include.url != nil %}<a href="{{ site.baseurl }}{{ include.url }}">{% endif %}
        <img src="{{ site.baseurl }}{{ thumbnail_path }}" class="card-img-top" style="object-fit: cover; max-height: 200px">
        {% if include.url != nil %}</a>{% endif %}
        <div class="card-body">
            <p class="card-text">
                <strong>{{ include.title }}</strong>
                {{ badge }}
                <br>
                <small>{{ include.date }}</small>
                <br>
                <small>{{ include.location }}</small>
            </p>
        </div>
    </div>
</div>